<%= simple_form_for @job do |f| %>

<div class="form-group">
   <%= f.input :title, input_html: { class: "form-control"} %>
   <%= f.input :description, input_html: { class: "form-control"} %>
   <%= f.input :time_lower_bound, :label => "领养开始", :class: "form-control"  %>
   <%= f.input :time_upper_bound, :label => "领养结束", :class: "form-control"  %>
   <%= f.input :contact_email, input_html: { class: "form-control"}  %>
   <%= f.input :is_hidden %>
</div>


<% end %>
