<div class="admin_index">

      <div class="panel panel-default">
         <div class="panel-heading">
            <h1 class="panel-title"> <%= @job.title %></h1>
         </div>


         <h5><%=simple_format(@job.description) %></h5>


         <div class="panel-body">
            <div class="container">
               <div class="row">
                     <div class="col-lg-12 col-sm-12">
                        <div class="clearfix"></div>
                        <div class="col-lg-4 col-lg-offset-2 col-sm-4">
                           <%= image_tag (@job.image) %>
                        </div>
                        <div><%=simple_format(@job.description) %></div>
                     </div>
              </div>
            </div>
         </div>

         <div class="text-center">
            <%= link_to("投递简历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration: underline;") %>
         </div>

      </div>

</div>
