<%= simple_form_for [:admin, @job] do |f| %>
   <div class="form-group">
      <%= f.input :title, input_html: { class: "form-control"} %>
      <%= f.input :description, input_html: { class: "form-control"}  %>
      <%= f.input :time_lower_bound, input_html: { class: "form-control"}  %>
      <%= f.input :time_upper_bound, input_html: { class: "form-control"}  %>

      <!-- <label for="bookdate">开始时间 <br></label class="form-control">:
      <input type="date" id="bookdate" placeholder="2017-04-23">

      <br>
      <label for="bookdate">截止时间 <br></label class="form-control">:
      <input type="date" id="bookdate" placeholder="2017-04-23">


      这条也可以用，不过不好用<%= select_date Date.today, prefix: :start_date%>

      <br>
      <b>截止时间</b>
      <br>
      <%= select_date Date.today, prefix: :start_date %>
      <%= f.input :contact_email, input_html: { class: "form-control"}  %>
      <%= f.input :is_hidden %>


      需要在controller里面最后的选择器中加入：
      Date.civil(params[:start_date][:year].to_f, params[:start_date][:month].to_f, params[:start_date][:day].to_f)



      -->


   </div>


   <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." }  %>
<% end %>
