<br>

<div class="panel panel-default">
   <!-- Default panel contents -->
  <div class="panel-heading">
    <h3 class="panel-title">领养列表</h3>
  </div>

  <p class="panel-body">让她们找到回家的路</p>

  <!-- 4:3 aspect ratio -->
  <!-- <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>

  </div>
   -->


  <!-- Table -->
  <table class="table" >
    <thead>
       <tr>
          <td>职缺</td>
          <td>寄养意愿数</td>
          <td>寄养开始</td>
          <td>寄养结束</td>
          <td>管理选项</td>
          <td>刊登时间</td>
       </tr>

    </thead>

    <% @jobs.each do |job| %>


          <tbody>
             <tr>
                <td>
                   <%= render_job_status(job) %>
                   <%= link_to(job.title, admin_job_path(job)) %>
                </td>
                <td><%= link_to(job.resumes.count, admin_job_resumes_path(job)) %></td>
                <td><%= job.time_lower_bound.strftime("%d %b. %Y") %></td>
                <td><%= job.time_upper_bound.strftime("%d %b. %Y") %></td>

                <td>


                  <%= link_to("Edit", admin_job_path(job), :method => :edit, :class => "btn btn-xs btn-info")%>

                   <%= link_to("Destroy", admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" } )%>

                   <% if job.is_hidden %>
                      <%= link_to("Publish", publish_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-success") %>
                      <% else %>
                      <%= link_to("Hide", hide_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-warning") %>
                   <% end %>
                </td>

                <td>
                   <%= job.created_at.strftime("%d %b. %Y") %>
                </td>

             </tr>
          </tbody>
    <% end %>
      </table>
</div>
